<div class="form-group" id="loadChucVu">
    <label class = "col-md-3 control-label" >Chức vụ</label>
    <div class="col-md-9">
        @Html.DropDownList("IDCapQuanLy", null, "---Chọn chức vụ---", new { @class = "form-control" })
    </div>
</div>
