@model IEnumerable<Entities.Models.Menu>

@using Entities.Enums;

@{
    bool isActiveController = false;
    bool isActive = false;
}
<div class="page-sidebar-wrapper">
    <div class="page-sidebar md-shadow-z-2-i  navbar-collapse collapse">
        <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">


        </ul>
    </div>
</div>
